body {
  margin: 5% 10%;
  background-color: rgb(0, 110, 255);
}

.like-glyph {
  cursor: pointer;
}

body h1 {
  color: rgb(0, 0, 0);
}

body > header {
  margin-bottom: 5%;
}

article.media-post {
  border: solid 1px #000;
  margin: 2% 3%;
  background-color: rgb(0, 0, 0);
}

article.media-post > p {
  background-color: rgb(194, 207, 221);
  padding: 1em 2em;
}

article.media-post > header {
  padding: 1em 2em;
  background-color: rgb(225,232,237);
}

article.media-post > footer {
  color: rgb(64, 87, 45);
}

article.media-post > footer ul {
  list-style-type: none;
}

#modal {
  border-radius: 10px;
  background-color: maroon;
  color: white;

  margin: 1em;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#modal p {
  margin-bottom: 0;
}

.activated-heart {
  color: red;
}

.hidden {
  visibility: hidden;
}